body{
    background-color: lightgray;
}

.wrapper{
    background-color: white;
    width: 1200px;
    height: 100%;
}

.box-1{
    width: 250px;
    height: 250px;
    background-color: lime;
    /* untuk penulisan value ada 2 : 1. Y X
    2. atas kanan bawah kiri */
    margin: 30px auto;
}

.box-2{
    width: 150px;
    height: 250px;
    background-color: plum;
    /* untuk penulisan value ada 2 : 1. Y X
    2. atas kanan bawah kiri */
    /* Hanya margin yang boleh menggunakan minus */
    padding-left: 100px;
    border: 8px solid black;
    /* padding-right: 100px; */
}

.box-3{
    width: 250px;   
    height: 250px;
    background-color: royalblue;
    margin: 30px auto;
    border-top: 8px solid black;
    border-right: 8px dashed brown;
    border-bottom: 8px dotted peru;
    border-left: 8px double blueviolet;
}