*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    background-color: coral;
    color: white;
}
.header h1{}

.main{
    background-color: orange;
    color: white;
}
.main h2{}
.main p{}
.main p span{
    color: red;
}

.footer{
    background-color: black;
    color: white;
}
